---
# Source: ceph-csi-cephfs/templates/ceph-csi-cephfs.yaml
apiVersion: plugins.kubegems.io/v1beta1
kind: Plugin
metadata:
  name: ceph-csi-cephfs
  namespace: default
spec:
  kind: helm
  url: https://github.com/ceph/ceph-csi/archive/refs/tags/v3.7.2.tar.gz
  path: ceph-csi-3.7.2/charts/ceph-csi-cephfs
  version: 3.7.2
  values:
    csiConfig: 
      - clusterID: ""
        monitors:
        - ""
        - ""
        - ""
    secret:
      create: true
      adminID: 
      adminKey: 
    storageClass:
      create: true
      name: csi-cephfs-sc
      clusterID: 
      fsName: 
    provisioner:
      attacher:
        image:
          
      snapshotter:
        image:
          
      resizer:
        image:
          
      provisioner:
        image:
          
      replicaCount: 1
      httpMetrics:
        enabled: false
    nodeplugin:
      plugin:
        image:
          
      registrar:
        image:
          
      httpMetrics:
        enabled: false
