---
# Source: cluster-proxy/templates/serviceaccount.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: cluster-proxy-manager
  namespace: default
---
# Source: cluster-proxy/templates/clusterrole.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: open-cluster-management:cluster-proxy:addon-manager
rules:
  - apiGroups:
      - cluster.open-cluster-management.io
    resources:
      - managedclusters
      - managedclustersets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - addon.open-cluster-management.io
    resources:
      - clustermanagementaddons
      - managedclusteraddons
      - clustermanagementaddons/status
      - clustermanagementaddons/finalizers
      - managedclusteraddons/status
    verbs:
      - '*'
  - apiGroups:
      - addon.open-cluster-management.io
    resources:
      - addondeploymentconfigs
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - addon.open-cluster-management.io
    resources:
      - managedclusteraddons/finalizers
    verbs:
      - '*'
  - apiGroups:
      - proxy.open-cluster-management.io
    resources:
      - managedproxyconfigurations
      - managedproxyconfigurations/status
      - managedproxyconfigurations/finalizers
      - managedproxyserviceresolvers
      - managedproxyserviceresolvers/status
      - managedproxyserviceresolvers/finalizers
    verbs:
      - '*'
  - apiGroups:
      - certificates.k8s.io
    resources:
      - certificatesigningrequests
      - certificatesigningrequests/approval
      - certificatesigningrequests/status
    verbs:
      - get
      - list
      - watch
      - update
      - patch
  - apiGroups:
      - certificates.k8s.io
    resources:
      - signers
    verbs:
      - "*"
    resourceNames:
      - open-cluster-management.io/proxy-agent-signer
      - kubernetes.io/kube-apiserver-client
  - apiGroups:
      - ""
    resources:
      - namespaces
      - secrets
      - pods
      - pods/portforward
    verbs:
      - "*"
  - apiGroups:
      - ""
    resources:
      - serviceaccounts
      - services
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - roles
      - rolebindings
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
  - apiGroups:
      - work.open-cluster-management.io
    resources:
      - manifestworks
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - "*"
---
# Source: cluster-proxy/templates/clusterrolebinding.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: open-cluster-management:cluster-proxy:addon-manager
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: open-cluster-management:cluster-proxy:addon-manager
subjects:
  - kind: ServiceAccount
    name: cluster-proxy-manager
    namespace: default
---
# Source: cluster-proxy/templates/role.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: open-cluster-management:cluster-proxy:addon-manager
  namespace: default
rules:
  - apiGroups:
      - ""
    resources:
      - events
      - secrets
      - serviceaccounts
      - services
    verbs:
      - "*"
  - apiGroups:
      - "apps"
    resources:
      - deployments
      - deployments/scale
    verbs:
      - "*"
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - create
      - update
      - patch
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - create
      - update
      - patch
---
# Source: cluster-proxy/templates/rolebinding.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: open-cluster-management:cluster-proxy:addon-manager
  namespace: default
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: open-cluster-management:cluster-proxy:addon-manager
subjects:
  - kind: ServiceAccount
    name: cluster-proxy-manager
    namespace: default
---
# Source: cluster-proxy/templates/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cluster-proxy-manager
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      open-cluster-management.io/addon: cluster-proxy
  template:
    metadata:
      labels:
        open-cluster-management.io/addon: cluster-proxy
    spec:
      serviceAccount: cluster-proxy-manager
      automountServiceAccountToken: true
      containers:
        - name: manager
          image: ghcr.io/kluster-manager/cluster-proxy:latest
          imagePullPolicy: Always
          command:
            - /manager
          args:
            - --signer-secret-namespace=default
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            privileged: false
            runAsNonRoot: true
            readOnlyRootFilesystem: true
          volumeMounts:
      volumes:
---
# Source: cluster-proxy/templates/k8s/addon.yaml
apiVersion: addon.open-cluster-management.io/v1alpha1
kind: ClusterManagementAddOn
metadata:
  name: cluster-proxy
spec:
  addOnMeta:
    displayName: cluster-proxy
    description: cluster-proxy
  installStrategy:
    type: Manual
  supportedConfigs:
  - group: proxy.open-cluster-management.io
    resource: managedproxyconfigurations
    defaultConfig:
      name: cluster-proxy
  - group: addon.open-cluster-management.io
    resource: addondeploymentconfigs
---
# Source: cluster-proxy/templates/k8s/addon.yaml
apiVersion: proxy.open-cluster-management.io/v1alpha1
kind: ManagedProxyConfiguration
metadata:
  name: cluster-proxy
spec:
  authentication:
    dump:
      secrets: {}
    signer:
      type: SelfSigned
  proxyServer:
    image: ghcr.io/kluster-manager/cluster-proxy:latest
    replicas: 1
    namespace: default
    entrypoint:
      type: PortForward
      port: 8091
  proxyAgent:
    image: ghcr.io/kluster-manager/cluster-proxy:latest
    replicas: 1
