---
# Source: eventer/templates/eventer.yaml
# https://github.com/NVIDIA/k8s-device-plugin#deployment-via-helm
apiVersion: plugins.kubegems.io/v1beta1
kind: Plugin
metadata:
  name: kubernetes-event-exporter
  namespace: default
spec:
  kind: helm
  url: https://charts.kubegems.io/bitnami
  version: 2.1.5
  values:
    image:
      
      
    config:
      kubeQPS: 60
      kubeBurst: 60
      logLevel: error
      logFormat: json
      route:
        routes:
          - match:
            - kind: "Pod|Deployment|ReplicaSet|StatefulSet|DaemonSet"
              receiver: "dump"
      receivers:
        - name: "dump"
          stdout: { }
